@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 16px !important;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.--favorite {
  background-color: red;
  color: white;
}